body {
  --main: #004643;
  --secondary: #abd1c6;
  --tertiary: #f9bc60;
  --button-text: #001e1d;
  --highlight: #e16162;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fffffe;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: var(--main);
  padding: 0 0 20px 20px;
}

footer {
  flex-shrink: 0;
  padding: 20px;
}

footer a {
  margin-right: 20px;
  color: var(--button-text);
}

footer a:hover {
  color: var(--secondary);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 78px;
  margin-bottom: 0;
}

.border {
  content: ' ';
  border-top: 6px dotted var(--tertiary);
  width: 100%;
  flex-shrink: 1;
}

h2 {
  color: var(--secondary);
}

h3 {
  flex-shrink: 0;
  margin-right: 10px;
  padding-left: 20px;
}

span {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

span:hover {
  color: var(--tertiary);
}

.mainHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: baseline; */
  height: max-content;
  padding: 20px 20px 0 20px;
}

nav {
  display: flex;
  flex-direction: row;
}

.switcher {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.switcher li a {
  display: block;
  /* float: right; */
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.teal-button {
  background-color: #004643;
  border: 3px solid #f9bc60;
  margin: 0 15px;
}

.blue-button {
  background-color: #232946;
  border: 3px solid #eebbc3;
  margin: 0 15px 0 0;
}

.maroon-button {
  background-color: #55423d;
  border: 3px solid #ffc0ad;
  margin: 0 15px 0 0;
}

.subheading {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

h3 {
  margin-top: 0;
}



.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

article {
  border-radius: 8px;
  border: 2px dashed var(--highlight);
}
.flashcardImage,
.recipeImage {
  width: 400px;
  height: 219px;
  background-image: url(images/Fieldwork-Flashcards-Shot.png);
  background-size: contain;
  background-position: center;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
}

.recipeImage {
  background-image: url(images/Rapid-Recipe-Shot.png);
}

.projectDetails {
  width: 400px;
  border-radius: 0 0 8px 8px;
  margin-top: 0;
  background-color: var(--secondary);
  padding-bottom: 15px;
}

h4 {
  margin: 0;
  padding: 10px;
}

div.projectDetails p {
  font-size: 14px;
  margin: 0 10px 10px 10px;
}

div.projectDetails a, .button {
  text-decoration: none;
  font-size: 12px;
  background-color: var(--tertiary);
  padding: 6px 8px;
  margin: 10px;
  color: #001e1d;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about {
  display: none;
  flex-direction: column;
  color: #fffffe;
}

div.about h3 {
    margin-top: 20px;
}

.brand {
  background-color: var(--secondary);
  color: #000;
  padding: 0 20px;
  border-radius: 8px;
  margin: 0 20px 20px 0;
}

ul.currently a li {
    color: #fffffe;
    text-decoration: underline;
}

ul.currently a li:hover {
    color: var(--secondary);
} 

.small {
  width: 10%;
}

.fave-places {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.travelpic {
  width: 150px;
  height: 150px;
}

.australia {
  background-image: url('/images/australia.png');
  background-size: cover;
  background-position: center;
  margin: 5px;
  border-radius: 6px;
}

.kenya {
  background-image: url('/images/kenya.jpg');
  background-size: cover;
  background-position: center;
  margin: 5px;
  border-radius: 6px;
}

.grenada {
  background-image: url('/images/grenada.jpg');
  background-size: cover;
  background-position: center;
  margin: 5px;
  border-radius: 6px;
}

body.teal {
  --main: #004643;
  --secondary: #abd1c6;
  --tertiary: #f9bc60;
  --button-text: #001e1d;
  --highlight: #e16162;
}

body.blue {
  --main: #232946;
  --secondary: #b8c1ec;
  --tertiary: #eebbc3;
  --button-text: #121629;
  --highlight: #eebbc3;
}

body.maroon {
  --main: #55423d;
  --secondary: #ffc0ad;
  --tertiary: #e78fb3;
  --button-text: #271c19;
  --highlight: #9656a1;
}

@media (max-width: 1000px) {
  .mainHeading {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .subheading {
    flex-direction: column;
  }

  h1 {
    font-size: 55px;
  }

  span {
    margin: 10px 0;
  }
  h3 {
    margin-top: 10px;
  }

  nav {
    justify-content: space-between;
  }

  main {
      padding: 0 5px;
  }

  div.brand {
      margin: 0;
  }

  .button {
      display: block;
      text-align: center;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 50px;
  }

  .flashcardImage,
  .recipeImage {
    width: 350px;
    height: 192px;
  }

  .projectDetails {
    width: 350px;
  }

  article {
    width: 350px;
    margin: 10px auto;
  }

  .projects {
    text-align: center;
  }

  div.projectDetails a {
    font-size: 10px;
  }
}
