---
import Base from '../layouts/Base.astro';
import BoxBreathe from '../components/doodles/BoxBreathe.astro';
import Chameleon from '../components/doodles/Chameleon.astro';
import Card from '../components/generic/Card.astro';
import Sunrise from '../components/doodles/Sunrise.astro';
import ColorSwitches from '../components/doodles/ColorSwitches.astro';
---

<Base title="Doodles">
	<h1>Just messin' around</h1>

	<p>I learn best by doing, so I prefer to jump straight into a new technology or technique and learn as I go. These doodles are the result of that strategy.</p>
	<p>Nothing here is perfect or polished, but that's kinda the point! ✨</p>

	<ul aria-label="Doodles">
		<li id="sunrise">
			<Card>
				<h2>SVG Sunrise</h2>
				<figure>
					<figcaption class="caption">I made this to learn about SVG animation. Hopefully SMIL is here to stay!</figcaption>
					<Sunrise/>
				</figure>
			</Card>
		</li>

		<li id="chameleons">
			<Card>
				<h2>Chameleon Camouflage</h2>
				<p class="caption">I made this to learn about CSS transitions and animations. Click Clarence the chameleon's background to see him change!</p>
				<p class="caption">P.S. - if you're on a small screen, change the scale to 0.5x or else he will look very squished!</p>
				<Chameleon/>
			</Card>
		</li>

		<li id="colors">
			<Card>
				<h2>Color Switches</h2>
				<p class="caption">I made this when I first started learning JavaScript to figure out how event propagation works. I included it here because I'm indecisive about color schemes.</p>
				<p class="caption">Click a button to change the colors of this page.</p>
				<ColorSwitches/>
			</Card>
		</li>

		<li id="clowns">
			<Card>
				<figure>
					<h2>Comic-Tabs-MS &#129313;</h2>
					<figcaption class="visually-hidden">This Chrome extension turns the font in your active tab to Comic Sans MS if you have too many tabs open in your browser window. I made this because I wanted to learn how to make a Chrome extension, but really because I have a problem with too many open tabs.<a target="_blank" href="https://github.com/aafmisra/comic-tabs-ms">Check out the Comic-Tabs-MS Chrome extension on github!</a></figcaption>
					<figcaption class="caption" aria-hidden="true">This Chrome extension turns the font in your active tab to <span id="comic-sans">Comic Sans MS</span> if you have too many tabs open in your browser window. I made this because I <span id="strikethrough">wanted to learn how to make a Chrome extension</span> have a problem with too many open tabs. <a target="_blank" href="https://github.com/aafmisra/comic-tabs-ms">Check out the Comic-Tabs-MS Chrome extension on github!</a></figcaption>
					<img src="/comic-tabs.png" alt="A screenshot of the Comic Tabs MS settings page with a circus themed background."/>
				</figure>
			</Card>
		</li>

		<li id="breathe">
			<Card>
				<figure>
					<h2>Box Breathe</h2>
					<figcaption class="caption">I made this to help me take a deep breath.</figcaption>
					<BoxBreathe/>
				</figure>
			</Card>
		</li>
	</ul>


</Base>

<style>
	ul {
		column-count: 2;
		column-gap: var(--px-to-rem-32);
		max-width: 100%;
		padding: 0;
	}
	figure {
		margin: 0;
	}
	figure > img {
		border-radius: 8px;
	}
	.caption {
		font-size: var(--px-to-rem-18);
		margin: var(--px-to-rem-16) 0;
	}

	li {
		margin-bottom: var(--px-to-rem-32);

		img {
			max-width: 100%;
		}
	
		span#comic-sans {
			font-family: "Comic Sans MS", "Atkinson Hyperlegible", monospace;
		}
	
		span#strikethrough {
			text-decoration: line-through;
		}
	}

	@media (max-width: 900px) {
		ul {
			column-count: unset;
			gap: var(--px-to-rem-16);
		}
		li {
			width: 100%;
		}
	}
</style>
