---
import Base from '../layouts/Base.astro';
---

<Base>
	<h1>I'm an endlessly curious <span>frontend</span> dev, committed to building <span>accessible</span> UI/UX</h1>

	<p>I have 5 years of experience on the front end, and I specialize in web accessibility.</p>
</Base>

<style>
	h1 {
		font-size: var(--px-to-rem-60);
		max-width: 24ch;
	}
</style>
