---
import Base from '../layouts/Base.astro';

const currentPage = Astro.url.pathname;
---

<Base>
	<div id="intro-wrapper">
		<h1>
			<span class="visually-hidden">Hello! My name is Asha. I'm an endlessly curious front end developer, committed to building accessible user interfaces and user experiences</span>
			<div aria-hidden="true">
				<span id="hello"><img src="/starburst.svg" alt="" aria-hidden="true"/><span>Hello! My name is</span> Asha.</span> <br/>
				I'm an endlessly curious 
				<span class="highlight">frontend</span> dev, committed to building 
				<span class="highlight">accessible</span> 
				<abbr title="user interfaces and user experiences">UI & UX</abbr> 
				<img src="/starburst-small.svg" alt="" aria-hidden="true"/>
			</div>
		</h1>
	
		<p>I have 5 years of experience on the front end, and I specialize in web accessibility.</p>
	
		<p>
			I believe that the world, digital and physical, is better when we build it with all types of people in mind. I am committed to ensuring that everything I build is not only beautiful and performant, but above all, accessible to as many people as possible.
		</p>
	</div>

	<nav aria-label="Primary">
    <ul>
      <li class={currentPage == "/about" ? "active" : ""}>
        <a aria-current={currentPage == "/"} href="/about">
					<span>About Me</span> <img src="/about-home.svg" alt="" aria-hidden="true"/>
				</a>
      </li>
      <li class={currentPage == "/projects" ? "active" : ""}>
        <a aria-current={currentPage == "/projects"} href="/projects">
					<span>Projects</span> <img src="/projects-home.svg" alt="" aria-hidden="true"/>
				</a>
      </li>
      <li class={currentPage == "/doodles" ? "active" : ""}>
        <a aria-current={currentPage == "/doodles"} href="/doodles">
					<span>Doodles</span> <img src="/doodles-home.svg" alt="" aria-hidden="true"/>
				</a>
      </li>
      {/* <li class={currentPage == "/components" ? "active" : ""}>
        <a aria-current={currentPage == "/components"} href="/components">
					<span>Components</span> <img src="/components-home.svg" alt="" aria-hidden="true"/>
				</a>
      </li>
      <li class={currentPage == "/thoughts" ? "active" : ""}>
        <a aria-current={currentPage == "/thoughts"} href="/thoughts">
					<span>Thoughts</span> <img src="/thoughts-home.svg" alt="" aria-hidden="true"/>
				</a>
      </li> */}
    </ul>
  </nav>
	
</Base>

<style>
	h1 {
		font-size: var(--px-to-rem-60);
		max-width: 24ch;
		position: relative;
		font-weight: 400;
	}
	h1 img {
		height: 4rem;
		transform: rotate(18deg);
		float: right;
	}
	h1 div span.highlight {
		color: var(--highlight-color-);
	}
	
	#hello {
		font-family: DynaPuff;
		font-size: var(--px-to-rem-56);
		font-weight: 700;
		color: var(--highlight-color-);
		margin-bottom: 0;
		position: relative;
	}
	#hello > span {
		color: var(--highlight-color);
	}
	#hello > img {
		height: 5rem;
		transform: rotate(18deg);
		position: absolute;
		top: -2rem;
		left: -5rem;
	}

	div#intro-wrapper {
		padding-left: 6rem;
	}

	/* Nav links styling */
	nav > ul{
		display: flex;
		gap: 1rem;
		padding: 0 0 3rem 6rem;
		margin: 2rem 0 0;
		overflow-x: scroll;
    scrollbar-width: none;
	}
	nav a {
		text-decoration: none;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		height: 100%;
    white-space: nowrap;
	}
	nav a:hover {
		color: var(--highlight-color-); /* counteract global style */
	}

	/* Nav link images */
	nav a > img {
		height: 1rem;
		transition: transform .25s ease-in-out;
	}
	nav a:hover > img {
		transform: translateY(-4px);
	}
	/* sizing for icons */
	nav a[href="/about"] > img {
		height: 1.75rem;
	}
	nav a[href="/components"] > img {
		height: 1.25rem;
		margin-bottom: 6px;
	}
	nav a[href="/thoughts"] > img {
		height: 1.75rem;
	}
	nav a[href="/doodles"] > img {
		margin-bottom: 6px;
	}
	nav a[href="/projects"] > img {
		margin-bottom: 6px;
	}

	/* Mobile mode */
	@media (max-width: 769px) {
		#hello > img {
			transform: rotate(-18deg);
			top: -5rem;
			left: unset;
		}

		h1 {
			font-size: var(--px-to-rem-48);
		}
		h1 img {
			top: unset;
		}

		div {
			padding-left: unset;
		}

		nav > ul {
			padding-left: unset;
			gap: 2.5rem;
		}
	}
</style>
