---
import Base from '../layouts/Base.astro';
---

<Base>
	<h1>Major Contributions</h1>

	<p>Working at a web development and design agency for nearly 5 years, I was fortunate to work on a wide array of projects. I contributed a significant amount of production code to each of these sites and apps, and lead development on a couple of them.</p>
</Base>
