a#scroll-to-top-link {
  display: block;
  width: var(--px-to-rem-48);
  height: var(--px-to-rem-48);
  position: sticky;
  bottom: var(--px-to-rem-16);
  left: 100%;
  z-index: 3;
}

a#scroll-to-top-link > img {
  height: 100%;
  width: 100%;
}

a#scroll-to-top-link.hidden {
  display: none;
}
