---
const { fillMode = false } = Astro.props;

let className = "card";
if (fillMode) {className += " filled"};
---

{Astro.slots.has('default') &&
  <div class={className}>
    <div class="header" aria-hidden="true">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>

    <div class="content">
      <slot />
    </div>
  </div>
}

<style>
  .card {
    border: 3px solid var(--main-color-);
    border-radius: 8px;
    padding: 0;
    height: 100%;
  }

  .card.filled {
    background-color: var(--contrast-dark-color);
    z-index: 999;
  }

 .header {
    height: var(--px-to-rem-48);
    border-bottom: 3px solid var(--main-color-);
    display: flex;
    align-items: center;
    gap: var(--px-to-rem-4);
    padding: 0 0 0 var(--px-to-rem-12);
  }

  .circle {
    height: 8px;
    width: 8px;
    border: 3px solid var(--main-color-);
    border-radius: 100%;
    background-color: var(--highlight-color-);
  }

  .content {
    padding: var(--px-to-rem-16);
  }

  :global(.card .content > img) {
    width: 100%;
  }
</style>