<footer>
  <p>
    Made with &hearts; by Asha Misra ©2025
  </p>

  <div>
    <a href="https://www.linkedin.com/in/asha-misra/" target="_blank"
      >LinkedIn</a
    >
    <a href="https://github.com/aafmisra" target="_blank">GitHub</a>
    <a href="Asha_Misra_resume.pdf" download
      >Resume</a
    >
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: var(--px-to-rem-16);
  }

  p {
    color: var(--main-color-);
    margin: 0;
  }
</style>